<!DOCTYPE html>

{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>nugu.trainer</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Gamja+Flower:400" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta name="google-site-verification" content="vdl_UgD-0ySdVdpLdCYiKiZr8qDcT2_tp5h6AXVfW7Q" />
    </head>
    <body>
        <div class="body1">
            <h1 class="name"><a href="https://nugutrainer.herokuapp.com/nuguhome">nugu.trainer</a></h1>
            <p class="line1">트레이너들의 민낯을 볼수 있는 솔직한 리뷰</p>
            <p>nugu.trainer는 다양한 헬스장에 근무하는 헬스트레이너들의 정보를 공개합니다.</p>
            <p>옳지 않은 의도를 가진 사람들의 후기를 방지하기 위해, 헬스장 인증을 거친 사람들만 후기를 남길 수 있습니다.</p>
            <p>모든 리뷰는 헬스장 위치, 트레이너의 초성만 공개하고 작성자는 익명으로 보입니다.</p>
            <button class="bt1" onclick="location.href='/nuguhome/write'">트레이너후기 쓰기</button>
            <form class="form" onsubmit="return false">
                <img class="search1" src="/static/img/serachimg.png">
                <input type="button" id="search2" name="result" value="검색">
                <input class="find" type="text" name="id" maxlength="40" placeholder="헬스장 검색하기" required />
            </form>
        </div>
        <br>
        <br>
        <hr>
        <br>
        <br>
        <div class="body2">

        </div>
        {% if latest_trainer_list %}
        <script>
            trainerjson = {list:[]}
            function ConvertSystemSourcetoHtml(str){
                str = str.replace(/</g,"&lt;");
                str = str.replace(/>/g,"&gt;");
                str = str.replace(/\"/g,"&quot;");
                str = str.replace(/\'/g,"&#39;");
                str = str.replace(/\n/g," ");
                return str;
            }
        </script>
        {% for trainer in latest_trainer_list%}
        <script>
            trainerone = {}
            trainerone['id']="{{trainer.id}}"
            trainerone['gym']="{{trainer.gym}}"
            trainerone['name']="{{trainer.name}}"
            trainerone['like']="{{trainer.like}}"
            trainerone['dislike']="{{trainer.dislike}}"
            trainerone['mapurl']="{{trainer.mapurl}}"
            trainerone['inform']=ConvertSystemSourcetoHtml("{{trainer.inform}}");
            trainerone['created_at']="{{trainer.created_at}}"
            trainerjson.list.push(trainerone)
        </script>
        {% endfor %}
        <script>
            let j = trainerjson.list.length-1;
            for(i=0;i<5;i++){
                if(j>=0){
                    addtrainer(j);
                    j = j-1;
                    console.log(j);
                }
            }
            
            function addtrainer(l){
                if(l>=0){
                    let trainerform = document.createElement('div');
                    trainerform.setAttribute('class','body3');
    
                    let where = document.createElement('p');
                    where.setAttribute('class','where');
                    where.innerHTML = trainerjson.list[l].gym;
    
                    let map = document.createElement('a');
                    map.setAttribute('class','map');
                    map.setAttribute('href',trainerjson.list[l].mapurl);
                    map.setAttribute('target','_blank')
                    map.innerHTML = '[위치]';
                    where.appendChild(map);
    
                    let who = document.createElement('p');
                    who.setAttribute('class','who');
                    who.innerHTML = '<label>트레이너: </label>'+trainerjson.list[l].name;
    
                    let inform = document.createElement('p');
                    inform.setAttribute('class','inform');
                    inform.innerHTML = trainerjson.list[l].inform
    
                    let numbers = document.createElement('span');
                    numbers.setAttribute('class','numbers');
    
                    let like = document.createElement('span');
                    like.setAttribute('class','like');
                    like.innerHTML = "&#8593; "+trainerjson.list[l].like;
    
                    let dislike = document.createElement('span');
                    dislike.setAttribute('class','dislike');
                    dislike.innerHTML = trainerjson.list[l].dislike+" &#8595;";
                    numbers.appendChild(like);
                    numbers.innerHTML += '<span>  |  </span>';
                    numbers.appendChild(dislike);
    
                    let formlike = document.createElement('form');
                    formlike.setAttribute('class','formlike');
                    formlike.setAttribute('action','{% url 'like' %}')
                    formlike.setAttribute('method','post')
    
                    let hiddenlike = document.createElement('input');
                    hiddenlike.setAttribute('type','hidden');
                    hiddenlike.setAttribute('name','hiddenlike');
                    hiddenlike.setAttribute('value',trainerjson.list[l].id)
    
                    let btlike = document.createElement('input');
                    btlike.setAttribute('class','btlike');
                    btlike.setAttribute('type','submit');
                    btlike.setAttribute('name','btlike');
                    btlike.setAttribute('value','좋아요')
                    formlike.appendChild(hiddenlike)
                    formlike.appendChild(btlike)
    
                    let formdislike = document.createElement('form');
                    formdislike.setAttribute('class','formlike');
                    formdislike.setAttribute('action',' {% url 'like' %}')
                    formdislike.setAttribute('method','post')
    
                    let hiddendislike = document.createElement('input');
                    hiddendislike.setAttribute('type','hidden');
                    hiddendislike.setAttribute('name','hiddenlike');
                    hiddendislike.setAttribute('value',trainerjson.list[l].id)
    
                    let btdislike = document.createElement('input');
                    btdislike.setAttribute('class','btdislike');
                    btdislike.setAttribute('type','submit');
                    btdislike.setAttribute('name','btlike');
                    btdislike.setAttribute('value','싫어요')
                    formdislike.appendChild(hiddendislike)
                    formdislike.appendChild(btdislike)
    
                    let trainerbox = document.querySelector('.body2');
                    trainerform.appendChild(where);
                    trainerform.appendChild(where);
                    trainerform.appendChild(who);
                    trainerform.appendChild(inform);
                    trainerform.appendChild(numbers)
                    trainerform.appendChild(formlike);
                    trainerform.appendChild(formdislike);
                    trainerbox.appendChild(trainerform);
                }
            }
            document.addEventListener('DOMContentLoaded',function (){
                window.onscroll=()=>{
                    if((window.innerHeight+window.scrollY)>=document.body.offsetHeight){
                        addtrainer(j);
                        j = j-1;
                    };
                };
                document.getElementById('search2').addEventListener('click',function(){
                    document.getElementsByClassName('body2')[0].innerHTML=""
                    let searchtext = document.getElementsByClassName('find')[0].value.toUpperCase();
                    for(i=trainerjson.list.length-1;i<=0;i--){
                        console.log(i)
                        if(trainerjson.list[i].gym.toUpperCase().includes(searchtext)){
                            addtrainer(i);
                        }
                        j = j-1;
                    }
                })
            })
            document.addEventListener("keydown", function(e) {
                if (e.keyCode === 13) {
                    document.getElementsByClassName('body2')[0].innerHTML=""
                    let searchtext = document.getElementsByClassName('find')[0].value.toUpperCase();
                    for(i=trainerjson.list.length-1;i>=0;i--){
                        if(trainerjson.list[i].gym.toUpperCase().includes(searchtext)){
                            addtrainer(i);
                        }
                        j = j-1;
                    }
                }
            });
        </script>
        {% else %}
            <p>No nugu.trainer are available.</p>
        {% endif %}
    </body>
</html>
