<!DOCTYPE html>

{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>그쌤잘해 : 트레이너들의 민낯을 볼 수 있는 솔직한 리뷰</title>
        <link rel="shortcut icon" href="{% static 'img/gss.svg' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Gamja+Flower:400" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:700,800" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/mobile.css' %}" media="screen and (min-width:256px) and (max-width:1024px)">
        <meta name="google-site-verification" content="vdl_UgD-0ySdVdpLdCYiKiZr8qDcT2_tp5h6AXVfW7Q" />
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://goodssaem.com">
        <meta property="og:title" content="그쌤잘해">
        <meta property="og:image" content="/static/img/kakaoimg.png">
        <meta property="og:description" content="트레이너들의 민낯을 볼 수 있는 솔직한 리뷰">
        <!-- 다음의 태그는 필수는 아니지만, 포함하는 것을 추천함 -->
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
    </head>
    <body>
        <div class="body1">
            <a href="https://goodssaem.com" ><img src='/static/img/goodssaemlogo.svg' class="name" alt="Logo"></a>
            <p class="line1">트레이너들의 민낯을 볼수 있는 솔직한 리뷰</p>
            <p><span class="titlename">그쌤잘해</span>는 다양한 헬스장에 근무하는 헬스트레이너들의 정보를 공개합니다.</p>
            <p>옳지 않은 의도를 가진 사람들의 후기를 방지하기 위해, 서울시에 등록된 헬스장에 한해서만 작성 가능합니다.</p>
            <p>모든 리뷰는 헬스장 위치, 트레이너의 초성만 공개하고 작성자는 익명으로 보입니다.</p>
            <button class="bt1" onclick="location.href='/nuguhome/write'">트레이너후기 쓰기</button>
            <form class="form" onsubmit="return false">
                <input type="button" id="search2" name="result" value="검색">
                <input class="find" type="text" name="id" maxlength="40" placeholder="헬스장 검색하기" required />
            </form>
        </div>
        <div class="body2">

        </div>
        {% if latest_trainer_list %}
        <script>
            trainerjson = {list:[]}
        </script>
        {% for trainer in latest_trainer_list%}
        <script>
            trainerone = {}
            trainerone['id']="{{trainer.id}}"
            trainerone['gym']="{{trainer.gym}}"
            trainerone['name']="{{trainer.name}}"
            trainerone['like']="{{trainer.like}}"
            trainerone['dislike']="{{trainer.dislike}}"
            trainerone['mapurl']="{{trainer.mapurl}}"
            trainerone['inform']="{{trainer.inform}}";
            trainerone['created_at']="{{trainer.created_at}}"
            trainerjson.list.push(trainerone)
        </script>
        {% endfor %}
        <script>
            let j = trainerjson.list.length-1;
            for(i=0;i<5;i++){
                if(j>=0){
                    addtrainer(j);
                    j = j-1;
                }
            }
            
            function addtrainer(l){
                if(l>=0){
                    let trainerform = document.createElement('div');
                    trainerform.setAttribute('class','body3');
    
                    let where = document.createElement('p');
                    where.setAttribute('class','where');
                    where.innerHTML = trainerjson.list[l].gym;
    
                    let map = document.createElement('a');
                    map.setAttribute('class','map');
                    map.setAttribute('href',trainerjson.list[l].mapurl);
                    map.setAttribute('target','_blank');
                    map.innerHTML = '[위치]';
                    where.appendChild(map);
    
                    let who = document.createElement('p');
                    who.setAttribute('class','who');
                    who.innerHTML = '<label>트레이너: </label>'+trainerjson.list[l].name;
    
                    let inform = document.createElement('p');
                    inform.setAttribute('class','inform');
                    inform.innerHTML = trainerjson.list[l].inform
    
    
                    let formlike = document.createElement('form');
                    formlike.setAttribute('class','formlike');
                    formlike.setAttribute('action','{% url 'like' %}');
                    formlike.setAttribute('method','post');
    
                    let hiddenlike = document.createElement('input');
                    hiddenlike.setAttribute('type','hidden');
                    hiddenlike.setAttribute('name','hiddenlike');
                    hiddenlike.setAttribute('value',trainerjson.list[l].id);
    
                    let btlike = document.createElement('input');
                    btlike.setAttribute('class','btlike');
                    btlike.setAttribute('type','submit');
                    btlike.setAttribute('name','btlike');
                    btlike.setAttribute('value','좋아요 '+String(trainerjson.list[l].like));
                    formlike.appendChild(hiddenlike);
                    formlike.appendChild(btlike);
    
                    let formdislike = document.createElement('form');
                    formdislike.setAttribute('class','formlike');
                    formdislike.setAttribute('action',' {% url 'like' %}')
                    formdislike.setAttribute('method','post')
    
                    let hiddendislike = document.createElement('input');
                    hiddendislike.setAttribute('type','hidden');
                    hiddendislike.setAttribute('name','hiddenlike');
                    hiddendislike.setAttribute('value',trainerjson.list[l].id)
    
                    let btdislike = document.createElement('input');
                    btdislike.setAttribute('class','btdislike');
                    btdislike.setAttribute('type','submit');
                    btdislike.setAttribute('name','btlike');
                    btdislike.setAttribute('value','싫어요'+String(trainerjson.list[l].dislike));
                    formdislike.appendChild(hiddendislike);
                    formdislike.appendChild(btdislike);
    
                    let trainerbox = document.querySelector('.body2');
                    trainerform.appendChild(where);
                    trainerform.appendChild(where);
                    trainerform.appendChild(who);
                    trainerform.appendChild(inform);
                    trainerform.appendChild(formlike);
                    trainerform.appendChild(formdislike);
                    trainerbox.appendChild(trainerform);
                }
            }
            document.addEventListener('DOMContentLoaded',function (){
                window.onscroll=()=>{
                    if((window.innerHeight+window.scrollY)>=document.body.offsetHeight){
                        addtrainer(j);
                        j = j-1;
                    };
                };
                document.getElementById('search2').addEventListener('click',function(){
                    document.getElementsByClassName('body2')[0].innerHTML=""
                    let searchtext = document.getElementsByClassName('find')[0].value.toUpperCase();
                    for(i=trainerjson.list.length-1;i>=0;i--){
                        if(trainerjson.list[i].gym.toUpperCase().includes(searchtext)){
                            addtrainer(i);
                        }
                        j = j-1;
                    }
                })
            })
            document.addEventListener("keydown", function(e) {
                if (e.keyCode === 13) {
                    document.getElementsByClassName('body2')[0].innerHTML=""
                    let searchtext = document.getElementsByClassName('find')[0].value.toUpperCase();
                    for(i=trainerjson.list.length-1;i>=0;i--){
                        if(trainerjson.list[i].gym.toUpperCase().includes(searchtext)){
                            addtrainer(i);
                        }
                        j = j-1;
                    }
                }
            });
        </script>
        {% else %}
            <p>No nugu.trainer are available.</p>
        {% endif %}
    </body>
</html>
